<% include ../partials/header %>

    
    <p class="spacer"></p>
    
    <div class="container">
        <p>Search specifications:</p>
        <form action="/sigcse2019/results/filter" method="GET" class="form-inline">
            <select class="form-control" name="lang">
                <option value="">Language - Any</option>
                <% fields.languages.forEach(function(lang){ %>
                        <option value="<%=lang%>"><%=lang%></option>
                <% }) %>
            </select>
            <select class="form-control" name="country">
              	<option value="">Location - Any</option>
                <% fields.countries.forEach(function(country){ %>
                        <option value="<%=country%>"><%=country%></option>
                <% }) %>
            </select>
            <select class="form-control" name="explicitOrScraped">
              	<option value="">Explicit or Scraped LO</option>
              	<option value="Explicit">Explicit only</option>
              	<option value="Scraped">Scraped only</option>
            </select>
            
            <select class="form-control" name="source">
              	<option value="">All sources</option>
              	<option value="Manual search">Manual only</option>
              	<option value="CITIDEL">CITIDEL only</option>
              	<option value="Submitted">Submitted only</option>
            </select>
            <div class="form-group">
                <button class="btn btn-md btn-primary btn-block">Submit</button>
            </div>
        </form>
        
        <p class="spacer"></p>
        
        <p class="show-heading"><%= syllabi.length %> results matching the specification: <%= language + " " + country + ' ' + explicitOrScraped + ' ' + syllabusSource%></h5>
        
        
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Syllabi</a>
            </li>
            <!--<li class="nav-item">-->
            <!--    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Links</a>-->
            <!--</li>-->
        </ul>
        
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Category</th>
                            <th scope="col">Number of Results</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% fields.categories.forEach(function(category){ %>
                            <% var result = syllabi.filter(function(syllabus){ %>
                                <% return syllabus.LOCategories.indexOf(category) > -1; %>
                            <% }) %>
    
                            <tr>
                                <td><a href="/sigcse2019/results/category?category=<%= escape(category) %>&lang=<%=language%>&country=<%=country%>&explicitOrScraped=<%=explicitOrScraped%>&source=<%=syllabusSource%>"><%= category %></a></td>
                                <td><%= result.length %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Location</th>
                            <th scope="col">Module Code</th>
                            <th scope="col">Module Title</th>
                            <th scope="col">University</th>
                            <th scope="col">Programming Language</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% var i = 1; %>
                        <% syllabi.forEach(function(syllabus){ %>
                            
                                <tr>
                                    <th scope="row"><%=i%></th>
                                    <td><%= syllabus.country %></td>
                                    <td><%= syllabus.courseCode %></td>
                                    <td><a href="/sigcse2019/results/<%= syllabus._id %>"><%= syllabus.courseName %></a></td>
                                    <td><%= syllabus.uniName %></td>
                                    <td><%= syllabus.programmingLanguage %></td>
                                </tr>
                                <% i = i + 1;%>
                        <% }) %>
                    </tbody>
                </table>
            </div>
            <!--<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">-->
            <!--    <table id="subTable" class="table-hover table-condensed">-->
            <!--        <tbody>-->
            <!--            <% syllabi.forEach(function(syllabus){ %>-->
            <!--                    <tr>-->
            <!--                        <td><a href="<%= syllabus.url %>"><%= syllabus.url %></a></td>-->
            <!--                    </tr>-->
            <!--            <% }) %>-->
            <!--        </tbody>-->
            <!--    </table>-->
            <!--</div>-->
        </div>
        
        
    </div>

<% include ../partials/footer %>