<% include ../partials/header %>

<div class="container">
    <h1>This is the show template.</h1>
    
    <table class="table-hover table-condensed">
        <tr>
            <td>courseID:</td> 
            <td><%= syllabus.courseID %></td></tr>
        <tr>
            <td>researcher:</td>
            <td><%= syllabus.researcher %></td></tr>
        <tr>
            <td>country:</td>
            <td><%= syllabus.country %></td></tr>
        <tr>
            <td>uniName:</td>
            <td><%= syllabus.uniName %></td></tr>
        <tr>
            <td>courseCode:</td>
            <td><%= syllabus.courseCode %></td></tr>
        <tr>
            <td>courseName:</td>
            <td><%= syllabus.courseName %></td></tr>
        <tr>
            <td>syllabusDate:</td>
            <td><%= syllabus.syllabusDate %></td></tr>
        <tr>
            <td>syllabusSource:</td>
            <td><%= syllabus.syllabusSource %></td></tr> 
        <tr>
            <td>associatedDegrees:</td>
            <td><%= syllabus.associatedDegrees %></td></tr>
        <tr>
            <td>prerequisites:</td>
            <td><%= syllabus.prerequisites %></td></tr>
        <tr>
            <td>forMajors:</td>
            <td><%= syllabus.forMajors %></td></tr>
        <tr>
            <td>courseStage:</td>
            <td><%= syllabus.courseStage %></td></tr>
        <tr>
            <td>courseSemester:</td>
            <td><%= syllabus.courseSemester %></td></tr>
        <tr>
            <td>programmingLanguage:</td>
            <td><%= syllabus.programmingLanguage %></td></tr>
        <tr>
            <td>instructionLanguage:</td>
            <td><%= syllabus.instructionLanguage %></td></tr>
        <tr>
            <td>url:</td>
            <td><a href="<%= syllabus.url %>"><%= syllabus.url %></a></td>
            </tr>
            
        <tr>
            <td>explicitOrScraped:</td>
            <td><%= syllabus.explicitOrScraped %></td></tr>
        <tr>
            <td>learningOutcomes:</td>
            <td><%= syllabus.learningOutcomes %></td></tr>
        <tr>
            <td>LOCategories:</td>
            <td><%= syllabus.LOCategories %></td></tr>
    </table>
</div>

<% include ../partials/footer %>
